{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href={% static '/library/css/bootstrap.min.css'%}>
    <link rel="stylesheet" href={% static '/library/css/font-awesome.min.css'%}>
    <link rel="stylesheet" href={% static '/library/css/nouislider.min.css'%}>
    <link rel="stylesheet" href={% static '/library/css/slick-theme.css'%}>
    <link rel="stylesheet" href={% static '/library/css/slick.css'%}>
    <link rel="stylesheet" href={% static '/library/css/style.css'%}>
  </head>
  <body>
		
		
    <script src={% static '/library/js/bootstrap.min.js'%} async defer></script>
    <script src={% static '/library/js/jquery.min.js'%} async defer></script>
    <script src={% static '/library/js/jquery.zoom.min.js'%} async defer></script>
    <script src={% static '/library/js/main.js'%} async defer></script>
    <script src={% static '/library/js/nouislider.min.js'%} async defer></script>
    <script src={% static '/library/js/slick.min.js'%} async defer></script>
  </body>
</html>
